<%- include('./header.ejs') %>
</head>
<body>
<%- include('./navigation.ejs') %>
<main>
<div style="margin-right: 15%; margin-left: 15%;">
    <form class="product-form" action="/addToCart" method="post">
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div>
                <img src="<%= product.imageUrl %>" alt="Product" height="200px" width="200px" >
            </div>
            <div>
                <p>Name : <%= product.name %></p>
                <p>Price : <%= product.price %></p>
                <p>Description : <%= product.description %></p>
                <p>Id : <%= product.id %></p>
            </div>
        </div>
        <div style="float: right;">
            <button class="btn" type="submit">Add to Cart</button>
        </div>
    </form>
</div>
</main>
<%- include('./footer.ejs') %>